.textbook-listing-card .card-img-holder {
	position: relative;
}

.textbook-listing-card .card-img-holder .card-condition {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 1.25em;
}

.textbook-listing-card .card-img-holder .card-proposed-price {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 1.25em;
}

.main-container .subtitle {
	font-size: 1.25em;
}

.main-container .main-listings-title {
	font-size: 1.25em;
}

.main-container .card-img {
	padding: 1em;
}
