<section class="listing-detail">
  <div ng-if="listing" class="container">
    <h1 class="title border-bottom mb-3">
      {{ listing._textbook.title }}
      <a href="/listing" class="btn btn-secondary float-right">Back</a>
    </h1>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="text-center">
          <img
            ng-src="{{listing._textbook.image}}"
            alt="Textbook cover"
            class="border"
          />
          <p class="subtitle">
            Selling for <strong>${{listing.proposedPrice}}</strong>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Textbook Details</h5>
            <table class="listing-detail-table">
              <tbody>
                <tr>
                  <td>Authors</td>
                  <td>{{listing._textbook.authors}}</td>
                </tr>
                <tr>
                  <td>Publisher</td>
                  <td>{{listing._textbook.publisher}}</td>
                </tr>
                <tr>
                  <td>Page Count</td>
                  <td>{{listing._textbook.pageCount || '---'}}</td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-info" href="#">More</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Seller Info</h5>
            <table class="listing-detail-table">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{listing._user.displayName}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>
                    <a href="mailto:{{listing._user.username}}@rpi.edu"
                      >{{listing._user.username}}@rpi.edu</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>Textbooks Sold</td>
                  <td>{{listing._user.textbooksSold || 0}}</td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-info" href="#">More</a>
          </div>
        </div>
      </div>
      <div ng-show="checkingOut" class="col-12 col-lg-4"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="payment-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Finish Payment</h5>
          </div>
          <div class="modal-body">
            <form id="payment-form" ng-submit="finishPayment()">
              <div id="card-element"></div>

              <div id="card-errors" role="alert"></div>

              <button class="btn btn-primary">Pay</button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button form="payment-form" type="button" class="btn btn-primary">
              Pay
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <button class="btn btn-lg btn-primary" ng-click="checkout()">
      Buy Now
    </button>
  </div>
</section>
