<div class="container">
  <h1 class="title">User Info</h1>

  <form ng-submit="submitForm()" class="my-3">
    <div class="form-group">
      <label for="email">Email address</label>
      <div class="input-group">
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          ng-value="user.username"
          disabled
        />
        <div class="input-group-append">
          <div class="input-group-text">@rpi.edu</div>
        </div>
      </div>
      <small id="emailHelp" class="form-text text-muted"
        >This email will be shared when you put textbooks up for sale.</small
      >
    </div>
    <div class="form-row">
      <div class="col">
        <label for="first-name">First Name</label>
        <input
          class="form-control"
          type="text"
          name="firstName"
          id="first-name"
          ng-model="name.first"
        />
      </div>
      <div class="col">
        <label for="last-name">Last Name</label>
        <input
          class="form-control"
          type="text"
          name="lastName"
          id="last-name"
          ng-model="name.last"
        />
      </div>
    </div>

    <hr />
    <h2 class="subtitle">Your Courses</h2>
    <div class="form-group">
      <input
        ng-model="search"
        ng-model-options="{ debounce: 500 }"
        type="text"
        class="form-control"
        placeholder="Search by crn, course title, or subject code and number"
      />
      <hr />
      <div class="row">
        <div class="col">
          <h2 class="subtitle">Browse</h2>
          <p ng-if="search.length === 0" class="text-secondary">
            Search above!
          </p>
          <p
            ng-if="search.length > 0 && courses.length === 0"
            class="text-secondary"
          >
            No search results for <strong>{{search}}</strong>
          </p>
          <ul class="list-group">
            <li
              ng-repeat="course in courses track by course._id"
              ng-if="!user._courses.includes(course._id)"
              class="list-group-item d-flex"
            >
              <span class="flex-grow-1">
                <strong>{{ course.subjectCode }}-{{ course.number }}</strong> {{
                course.title }}
              </span>

              <button
                ng-click="addCourse(course._id)"
                class="btn btn-small btn-success"
                type="button"
              >
                Add
              </button>
            </li>
          </ul>
        </div>
        <div ng-if="user._courses.length > 0" class="col col-4">
          <div class="sticky">
            <h2 class="subtitle">Selected</h2>
            <ul class="list-group">
              <li
                ng-repeat="course in user._courses track by course._id"
                class="list-group-item d-flex"
              >
                <span class="flex-grow-1">
                  <strong>{{ course.subjectCode }}-{{ course.number }}</strong>
                  {{ course.title }}
                </span>
                <button
                  ng-click="removeCourse(course._id)"
                  class="btn btn-small btn-danger"
                  type="button"
                >
                  X
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
