<header>
  <nav
    ng-controller="HeaderCtrl"
    class="navbar navbar-expand-lg navbar-dark bg-dark"
  >
    <div class="container">
      <a class="navbar-brand" href="#">Book It</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#top-navbar"
        aria-controls="top-navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="top-navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#!/main">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#!/listing">For Sale</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search textbooks/courses"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <ul class="navbar-nav">
          <li ng-if="!isAuthenticated" class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li ng-if="isAuthenticated" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="auth-dropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Logged in as <strong>{{ user.displayName }}</strong>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="auth-dropdown"
            >
              <a class="dropdown-item" href="/#!/user_info">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">
                <i class="fas fa-logout"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
